.one {
  font-size: 10px + 10px;
}

.two {
  font-size: 10px - 10px;
}

.three {
  // 문자열로 반환
  //  font-size: 10px / 10px;
  // 괄호가 있어야한다.
  font-size: (10px / 10px);
}

// 하나는 정수여야한다.
.four {
  // error
  //  font-size: 10px * 10px;
  font-size: 10px * 10;
}

// error
//.five {
//    font-size: 10px ** 10px;
//}

// 곱하기와 나누기와는 다르게 2개의 단위가 모두 있어도 애러가 나지 않습니다. 앞의 값으로 반환합니다.
// .six {
//     font-size: 10px % 3px;
// }

// .six {
//     font-size: 10px % 3;
// }

.six {
  font-size: 3in % 10px;
}
